
@model List<Company>
@{
}


<h2>Companies</h2>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Create">Create New Company</a>
<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
        @foreach (var company in Model)
        {
            if (company != null)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.PhoneNumber</td>
                    <td>@company.Email</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@company.CompanyId">Update</a>
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>@ViewBag.Message</p>
}

